.App {
  width: 1000px;
  margin: auto;
}
input {
  border: 3px solid #9992a8;
  border-radius: 20px;
  outline: none;
  height: 54px;
  width: 300px;
  color: #5f5555;
  font-size: 20px;
  font-family: Tahoma;
}
input::placeholder {
  color: #55ddc4;
  font-size: 20px;
}
.search {
  background-color: #5f747f;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pets-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #efc4c0;
}
.h2-sitters {
  margin-top: 20px;
  text-align: center;
  color: #551426;
}
.pets-main {
  padding-bottom: 35px;
  background-color: #efc4c0;
}

.pet-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.petcard {
  display: flex;
  flex-direction: column;
  width: 250px;
  border-radius: 4px;
  background-color: #fff;
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.petcard h2 {
  text-align: center;
  margin-bottom: 5px;
}

.petcard img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
  margin: 5px;
  align-self: center;
}

.petInfo {
  text-align: left;
  margin-top: 5px;
  font-size: 16px;
}

.petInfo > p {
  margin-bottom: 5px;
}
.containerCard{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}